
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

@Html.ActionLink("Inventory Report", "Inventory", "Reports", null, null)

<br />
<br />

@Html.ActionLink("Sales Report", "Sales", "Reports", null, null)